*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    background-color:white;
    height: 8.4vh;
    width: 100vw;
    display: flex;
    padding-bottom: 1%;
    
}
#nav-logo{
    font-family: 'Raleway', sans-serif;
    float: left;
    margin: 0.8% 2%;
}

#nav-logo a{
    color: inherit;
    text-decoration: none;;
}
#nav-logo a:visited{
    color: inherit;
}

.icon{
    margin:3.5% 1% 0 5%;
    min-width: 30px;
}
#nav-input{
display: flex;

margin:1% 28%;
box-shadow: 0px 0px 12px rgb(192, 190, 190);
background-color: white;
height: 40px;
border-radius: 100px;
width: 20vw;
}
#nav-input input{
height: inherit;
width: 80%;
background-color: transparent;
    word-spacing: 1px;
    padding-left: 25px;
    border: none;
    /* border-radius: 20px; */
    /* width: 18vw; */
    height: inherit;
    outline: none;
    
}
#nav-icons{
    display: flex;
    float: right;

    margin: 1.8% 0.1%;
    justify-content: space-between;
}
#nav-icons i{

padding: 0 20px 0 20px;
   
}
#nav-icons i:hover{
    /* box-shadow: 0px 0px 35px 2px rgba(12,56,209,0.8); */
border-radius: 100%;
filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
transform: scale(1.5);	
}
/* banner*/
#banner{
    padding-top: 1opx;
    height: 20px;
background-color: black;
    color: black;
}
/* -----------------Section 1----------- */
#container{
    background-color: white;
    display: flex;
    height: 70vh;
    width: 100vw;
}
#product-img{
   padding-top: 50px;
    width: 28%;
    display: flex;
    flex-direction: column;
justify-content: space-around;
align-items: center;
}
#product-img img{
/* background-color: rgba(217, 213, 213, 0.387);  */
   height:30%;
   width: 70%;
margin: 1% 1% 0 1%;
border-radius: 7px;
opacity: 0.9;
}
#main-img{
    margin-top: 2%;

    height: 80vh;

}
#main-img img{

height: 320px;
width: 450px;
transform-style: preserve-3d;
padding-top: 16%;
}
#product-info{
    position: relative;
    top: 90px;
    margin-left: 3%;
    line-height: 30px;
    width: 80%;
    }
 #product-info h1{
        color: black;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0;
        padding-bottom: 30px;
    }
    #product-info span:nth-child(1){
        color: rgb(140, 3, 3);
        /* color: #1d1d1f; */
       
 
    }
    #product-info hr{
margin-top: 2%;
width: 80%;
    }
    #product-info #h2{
        margin-top: 3%;
        font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 800;
        letter-spacing: 2px;    }
    #product-info .color{
        margin: 3% 5% 2% 5%;
        /* justify-content: space-between; */
border: 3px solid rgb(255, 255, 255);
border-radius: 50%;
height: 6.2%;
width: 4.5%;
}

    #color1{
        background-image:url(/IMG/color1.jpg);
        background-size:cover;   
        background-repeat: no-repeat; }
       
#color2{
    background-image:url(/IMG/color2.jpg);
    background-size:contain;   
    background-repeat: no-repeat;
}
#color3{
    background-image:url(/IMG/color3.jpg);
    background-size:contain;   
    background-repeat: no-repeat;
}
#addButton{
    padding-top: 2%;
    height: 20%;
    width: 40%;
}
#addButton button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    font-size: 20px;
  font-weight: 300;
border: none;
    width: 60%;
    padding: 2% 0 2% 0;
    color: white;
    background-color: #0071e3;}